@font-face {
    font-family: "roboto";
    src: url("./static/font/Roboto/Roboto-Regular.ttf")format(truetype);
}

@font-face {
    font-family: "lato";
    src: url("./static/font/Lato/Lato-Light.ttf")format(truetype);
}
html{
    --res: calc(0.01 * 10vmin)
}
body{
    margin:0;
}

/* START HEADER */

#contheader-nav{
    background-color: #9070A3;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#nav_header{
    width: 100%;
}

#ul_navheader{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    width: 100%;
    padding-left: 0;
}
.li-header{
    font-size: calc(36 * var(--res));
    font-family: "roboto";
    text-decoration: none;
    list-style: none;
    color: #ffff;
    letter-spacing: 4px;

}
#div-logo{
    display: flex;
    justify-content: start;

}
#iconeheader{
    width: 10%;
    display: flex;
    align-items: center; 
}
#icn-user{
    margin:calc(5 * var(--res));
    height: calc(10*var(--res));
}
#icn-panier{
    height: calc(10*var(--res));
}
#search{
    border-radius: 2.5rem;
    border-color: #000;
    padding: calc(10 * var(--res));
    width: calc(200 * var(--res));
}
input::placeholder{
    color: #9070A3;
}

.btn-plain:hover{
border-bottom-style: solid;
border-color: #fff;
}

#img-header{
    background-image: url(./static/image/img.header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(800 * var(--res));
    display: flex;
    justify-content: start;
    align-items: end;
}
h1{
    margin:0;
}
#pre-h1{
    font-family: "lato";
    font-size: calc(100 * var(--res));
    color: #fff;
    margin-left: calc(50 * var(--res));
    font-weight: lighter;
}
/* END HEADER */

#div-lefta{
    width: 60%;
}
#div-righta{
    background-color: #2F243A;
    width: 100%;
}
#secta{
    display: flex;
    width: 100%;
}
#secta-bis{
    display: none;
}
#h2a{
    text-align: center;
    font-family: "lato";
    font-size: calc(70 * var(--res));
    color:#fff;
    margin-top: calc(250 * var(--res));
    font-weight: lighter;
}
#prea{
    text-align: center;
    font-size: calc(35 * var(--res));
    font-family: "roboto";
    color:#fff;
    margin-top: calc(150 * var(--res));
    margin-bottom: 0;
}
#watcha{
    height: 100%;
    width: 100%;
}

#sectb{
    display: flex;
    width: 100%;
    margin-top: calc(200 * var(--res));
}
#sectb-bis{
    display: none;
}
#div-rightb{
    display: flex;
    justify-content: end ;
    width: 100%;
}
#div-leftb{
    width: 100%;

}

#h2b{
    
        text-align: center;
        font-family: "lato";
        font-size: calc(80 * var(--res));
        color:#000;
        margin-top: calc(250 * var(--res));
        font-weight: lighter;


}
#preb{
    text-align: center;
    font-size: calc(35 * var(--res));
    font-family: "roboto";
    color:#000;
    margin-top: calc(150 * var(--res));
    margin-bottom: 0;

}
#img-size{
width: 70%;
height: 100%;
}


#sectc{
display: flex;
margin-top: calc(250 * var(--res));

}
#sectc-bis{
    display: none;
}

#h2c{
    text-align: center;
    font-family: "lato";
    font-size: calc(70 * var(--res));
    color:#000;
    /* margin-top: calc(250 * var(--res)); */
    font-weight: lighter;
}

#prec{
    text-align: center;
    font-size: calc(35 * var(--res));
    font-family: "roboto";
    color:#000;
    margin-top: calc(150 * var(--res));
    margin-bottom: 0;
}
#div-leftc{
width: 70%;
}
#rightc{
    width: 100%;
}
#img-sizec{
    width: 100%;
}
/*
Start footer
*/
#footer_home{
    display: flex;
    background-color:#444054 ;
    width: 100%;
    margin-top: calc(350 * var(--res));
}
.ulfooter{
    margin: 0;
    display: block;
    padding: calc(50* var(--res));
    margin-left: calc(90 * var(--res));
}
.renseig{
width: 100%;
display: flex;
align-items: center;
}
.a_footer{
    color: #fff;
    font-family: "roboto";
    font-size: calc(25 * var(--res));
    text-decoration: none;
}
#logo{
    width: 100%;
text-align: right;
}
.icone-footer{
    height: calc(100* var(--res));
    margin-right: calc(55 * var(--res));
    margin-top: calc(25 * var(--res));
    margin-bottom: calc(25 * var(--res));
}
#size_pay{
    height: calc(250 * var(--res));
    margin-top: calc(25 * var(--res));
    margin-right: calc(40 * var(--res));
}
#logo-burg{
    display: none;
}
/*end header*/

#resp{
    width:100% ;
    background-color: #9070A3;
    padding-top: 15px;
    padding-bottom: 16px;
    display: none;
    animation: fade 0.5s;
}
#resp hr{
    border-radius: 2px;
    height: 4px;
    width: 26px;
    border: 0px;
    background-color: antiquewhite;
    margin: 5px 5px;
    text-align: right;
}

#resp ul{
    display: none;
    padding-inline-start: 0px;
    margin: 0;
}

#resp ul li{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-family: sans-serif;
    list-style: none;
    padding: 10px 3px;
    color: antiquewhite;
    font-weight: bold;
    transition: color 0.5s, background-color 0.5s;
}
#resp ul li:hover{
    color: #9070A3;
    background-color: antiquewhite;
}
@keyframes fadein {
    0% {
        height: 0px;
        opacity: 0;
    }

    100% {
        height:190px;
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
        height:190px;
    }

    100% {
        opacity: 0;
        height: 0px;
    }
}
@media screen and (max-width: 960px) {
    #resp{
        display: block;
        text-align: -moz-right;   
    }
    #contheader-nav, #iconeheader, #img-header, #prea, #preb, #prec{
        display: none;
    }
    #secta-bis{
        display: block;
        color: #9070A3;
        font-size: calc(45*var(--res));
        text-align: center;
    }
    #prea-bis{
        font-family: "roboto";
    }
    #sectb-bis{
        display: block;
        color: #fff;
        font-size: calc(45*var(--res));
        text-align: center;
        background-color: #9070A3;
padding-top: 15px;
padding-bottom: 15px;
        width: 100%;
    }
    #preb-bis{
        font-family: "roboto";
        margin: 0;
        width: 100%;
    }
    #sectc-bis{
        display: block;
        color: #9070A3;
        font-size: calc(45*var(--res));
        text-align: center;
    }
    #prec-bis{
        font-family: "roboto";
    }
    #div-righta{
        display: flex;
        align-items: center;
        justify-content: center;
       }
       #h2a{
        margin: 0;
       }
       #div-leftb{
        display: flex;
        align-items: center;
        justify-content: center;
       }
       #h2b{
        margin: 0;
       }
       #h2c{
        margin: 0;
       }
       #rightc{
        display: flex;
        align-items: center;
        justify-content: center;
       }
       #footer_home{
        display: flex;
        flex-wrap: wrap;
       }
}