@font-face {
    font-family: "roboto";
    src: url("../../font/Roboto/Roboto-Regular.ttf")format(truetype);
}

@font-face {
    font-family: "lato";
    src: url("../../font/Lato/Lato-Light.ttf")format(truetype);
}
html{
    --res: calc(0.01 * 10vmin)
}
body{
    margin:0;
}

/* START HEADER */

#contheader-nav{
    background-color: #9070A3;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#nav_header{
    width: 100%;
}

#ul_navheader{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    width: 100%;
    padding-left: 0;
}
.li-header{
    font-size: calc(36 * var(--res));
    font-family: "roboto";
    text-decoration: none;
    list-style: none;
    color: #ffff;
    letter-spacing: 4px;
}
#div-logo{
    display: flex;
    justify-content: start;

}
#iconeheader{
    width: 10%;
    display: flex;
    align-items: center; 
}
#icn-user{
    margin:calc(5 * var(--res));
    height: calc(10*var(--res));
}
#icn-panier{
    height: calc(10*var(--res));
}
#search{
    border-radius: 2.5rem;
    border-color: #000;
    padding: calc(10 * var(--res));
    width: calc(300 * var(--res));
    height: 35px;
}
input::placeholder{
    color: #9070A3;
}

.btn-plain:hover{
border-bottom-style: solid;
border-color: #fff;
}

#img-header{
    background-image: url(../../image/header_montre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(1100 * var(--res));
    display: flex;
    justify-content: start;
    align-items: end;
}
h1{
    margin:0;
}
#pre-h1{
    font-family: "lato";
    font-size: calc(100 * var(--res));
    color: #fff;
    margin-left: calc(50 * var(--res));
    font-weight: lighter;
}
/* END HEADER */

/* Sart section A*/
#montre-secta{
    height: 100%;
    width: 100%;
}
#lefta{
    width: 100%;
}
#righta{
    background-color: #2F243A;
    color: #fff;
    font-family: "roboto";
    text-align: center;
    font-size: calc(35* var(--res));
    width: 100%;

}
#secta{
    display: flex;
}
#preA{
    color: #fff;
    font-family: "roboto";
    text-align: center;
    font-size: calc(30* var(--res));

}
/*End section A*/

/*Start section B*/

#h2-sectb{
    font-family: "lato";
    font-size: calc(100*var(--res));
    font-weight: lighter;
}
#pre-sectb{
    font-family: "roboto";
    font-size: calc(40*var(--res));
}
#sectb{
    text-align: center;
    margin-top: calc(200*var(--res));
}
#div-sectb{
    width: 100%;
}

/*End section B*/

/*
Start footer
*/
#footer_home{
    display: none;
    background-color:#444054 ;
    width: 100%;
    margin-top: calc(350 * var(--res));

}
.ulfooter{
    margin: 0;
    display: block;
    padding: calc(50* var(--res));
    margin-left: calc(90 * var(--res));
}
.renseig{
width: 100%;
display: flex;
align-items: center;
}
.a_footer{
    color: #fff;
    font-family: "roboto";
    font-size: calc(25 * var(--res));
    text-decoration: none;
}
#logo{
    width: 100%;
text-align: right;
}
.icone-footer{
    height: calc(100* var(--res));
    margin-right: calc(55 * var(--res));
    margin-top: calc(25 * var(--res));
    margin-bottom: calc(25 * var(--res));
}
#size_pay{
    height: calc(250 * var(--res));
    margin-top: calc(25 * var(--res));
    margin-right: calc(40 * var(--res));
}
/* end footer*/
#h2a{
    display: none;
}
#prea-bis{
    display: none;
}
#prea-span{
    display: none;
}
#btn-voir-plus{
    display: none;
}
#brassard{
    height: 100%;
    width: 100%;
}
#sectb-bis-desc{
    display: none;
}

#sectb-bis{
    display: none;
}


#resp{
    width:100% ;
    background-color: #9070A3;
    padding-top: 15px;
    padding-bottom: 16px;
    display: none;
    animation: fade 0.5s;
}
#resp hr{
    border-radius: 2px;
    height: 4px;
    width: 26px;
    border: 0px;
    background-color: antiquewhite;
    margin: 5px 5px;
    text-align: right;
}

#resp ul{
    display: none;
    padding-inline-start: 0px;
    margin: 0;
}

#resp ul li{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-family: sans-serif;
    list-style: none;
    padding: 10px 3px;
    color: antiquewhite;
    font-weight: bold;
    transition: color 0.5s, background-color 0.5s;
}
#resp ul li:hover{
    color: #9070A3;
    background-color: antiquewhite;
}
@keyframes fadein {
    0% {
        height: 0px;
        opacity: 0;
    }

    100% {
        height:190px;
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
        height:190px;
    }

    100% {
        opacity: 0;
        height: 0px;
    }
}


@media screen and (max-width: 960px) {
    #resp{
        display: block;
        text-align: -moz-right;   
    }
    #contheader-nav, #iconeheader, #img-header, #prea, #preb, #prec{
        display: none;
    }
    #secta-bis{
        display: block;
        color: #9070A3;
        font-size: calc(45*var(--res));
        text-align: center;
    }
    #preA{
        display: none;
    }
    #prea-bis{
        display: block;
        font-family: "roboto";
        font-size: calc(40*var(--res));
    }
#sectb-bis{
    display: flex;
    margin-top: calc(120*var(--res));
}
#sectb-bis-desc{
    display: block;
    color: #9070A3;
    font-size: calc(30*var(--res));
    text-align: center;
    margin-top: calc(180*var(--res));
}
    #preb-bis{
        font-family: "roboto";
        margin: 0;
        width: 100%;
    }
    #sectc-bis{
        display: block;
        color: #9070A3;
        font-size: calc(45*var(--res));
        text-align: center;
    }
    #prec-bis{
        font-family: "roboto";
    }
    #h2a{
        font-family: "lato";
        color: #fff;
        font-size: calc(70*var(--res));
        font-weight: lighter;
        text-align: center;
        display: block;
    }
   #righta{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   #btn-voir-plus{
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #9070A3;
    border-radius: 10px;
    width: 25%;
    margin: auto;
    padding: 5px;
    cursor: pointer;
}
#sectb{
    display: none;
}
#leftb-bis{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F243A;
    color: #fff;
    font-size: calc(35*var(--res));
}
#rightb-bis{
    width: 100%;
}
#testt{
    width: 100%;
    height: 100%;
}
#h2b-bis{
    font-family: "lato";
    font-weight: lighter;
}
}