@font-face {
    font-family: "roboto";
    src: url("../../font/Roboto/Roboto-Regular.ttf")format(truetype);
}

@font-face {
    font-family: "lato";
    src: url("../../font/Lato/Lato-Light.ttf")format(truetype);
}
html{
    --res: calc(0.01 * 10vmin)
}
body{
    margin:0;
}

/* START HEADER */

#contheader-nav{
    background-color: #9070A3;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#nav_header{
    width: 100%;
}

#ul_navheader{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    width: 100%;
    padding-left: 0;
}
.li-header{
    font-size: calc(36 * var(--res));
    font-family: "roboto";
    text-decoration: none;
    list-style: none;
    color: #ffff;
    letter-spacing: 4px;
}
#div-logo{
    display: flex;
    justify-content: start;

}
#iconeheader{
    width: 10%;
    display: flex;
    align-items: center; 

}
#icn-user{
    margin:calc(5 * var(--res));
    height: calc(10*var(--res));
}
#icn-panier{
    height: calc(10*var(--res));
}
#search{
    border-radius: 2.5rem;
    border-color: #000;
    padding: calc(10 * var(--res));
    width: calc(300 * var(--res));
    height: 35px;
}
input::placeholder{
    color: #9070A3;
    font-size: calc(20*var(--res));
}

.btn-plain:hover{
border-bottom-style: solid;
border-color: #fff;
}
input{
    border-radius: calc(80*var(--res));
    border-color: #9070A3;
    border-width: 2px;
    width: calc(400 * var(--res));
    color:#9070A3;
    padding: 8px;
    font-family: "roboto";
    height: calc(20*var(--res));
    font-size: calc(20*var(--res));
    }
    label{
        margin-top: 30px;
        font-size: calc(25*var(--res));
    }
    #lab-check{
        margin: 0;
        position: relative;
        right: calc(180*var(--res));
    }
    #sub{
        height: calc(40*var(--res));
        border-radius: 0.3rem;
        color: #fff;
        background-color: #9070A3;
        border-color: #fff;
        margin-bottom: 50px;
        font-size: calc(20*var(--res));
        cursor: pointer;
    }
    #form-register{
    text-align: center;
    width: 100%;
    }
    #div-check{
        display: flex;
        flex-direction: row-reverse;
    }
    .divForm{
    display: flex;
    flex-direction: column;
    color: #9070A3;
    font-family: "roboto";
    margin: 20px;
    
    }
    #divForm2{
        display: flex;
        flex-direction: column;
        color: #9070A3;
        font-family: "roboto";
        margin: 20px;
        text-align: center;
    }
    #form-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    }
    #cont{
        border-radius: 0.5rem;
        border-style: solid;
        border-width: 3px;
        border-color: #9070A3;
        margin-top: 10rem;
        display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    }

h1{
    font-family: "lato";
    font-size: calc(30*var(--res));
}
/*Start footer*/

#footer_home{
    display: flex;
    background-color:#444054 ;
    width: 100%;
    margin-top: calc(350 * var(--res));

}
.ulfooter{
    margin: 0;
    display: block;
    padding: calc(50* var(--res));
    margin-left: calc(90 * var(--res));
}
.renseig{
width: 100%;
display: flex;
align-items: center;
}
.a_footer{
    color: #fff;
    font-family: "roboto";
    font-size: calc(25 * var(--res));
    text-decoration: none;
}
#logo{
    width: 100%;
text-align: right;
}
.icone-footer{
    height: calc(100* var(--res));
    margin-right: calc(55 * var(--res));
    margin-top: calc(25 * var(--res));
    margin-bottom: calc(25 * var(--res));
}
#size_pay{
    height: calc(250 * var(--res));
    margin-top: calc(25 * var(--res));
    margin-right: calc(40 * var(--res));
}
/* end footer*/